{% extends "gimnasio_vidafit/index.html" %}

{% block titulo %}
    {% if view.object %}Editar Sede{% else %}Crear Nueva Sede{% endif %}
{% endblock %}

{% block contenido %}
<h1 class="mt-5">
    {% if view.object %}Editar Sede{% else %}Crear Nueva Sede{% endif %}
</h1>

<form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">
        {% if view.object %}Actualizar{% else %}Crear{% endif %}
    </button>
    <a href="{% url 'sede_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}