{% extends "gimnasio_vidafit/index.html" %}

{% block titulo %}Eliminar Sede{% endblock %}

{% block contenido %}
<h1 class="mt-5">¿Seguro que quieres eliminar la sede?</h1>

<div class="alert alert-warning mt-4">
    <p><strong>Nombre:</strong> {{ sede.nombre }}</p>
    <p><strong>Calle:</strong> {{ sede.calle }} {{ sede.altura }}</p>
    
</div>

<form method="post" class="mt-4">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a href="{% url 'sede_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}