{% extends "gimnasio_vidafit/index.html" %}

{% block titulo %}Detalle de Sede{% endblock %}

{% block contenido %}
<h1 class="mt-5">Detalle de la Sede</h1>

<ul class="list-group mt-4">
    <li class="list-group-item"><strong>Nombre:</strong> {{ sede.nombre }}</li>
    <li class="list-group-item"><strong>Calle:</strong> {{ sede.calle }}</li>
    <li class="list-group-item"><strong>Altura:</strong> {{ sede.altura }}</li>
    
</ul>

<!-- Enlaces actualizados: usan 'sede.codigo' -->
<a href="{% url 'sede_edit' sede.codigo %}" class="btn btn-warning mt-3">Editar</a>
<a href="{% url 'sede_delete' sede.codigo %}" class="btn btn-danger mt-3">Eliminar</a>
<a href="{% url 'sede_list' %}" class="btn btn-secondary mt-3">Volver al listado</a>
{% endblock %}